html {
  height: 100%;
  text-align: center;
}

.text-center {
  text-align: center;
}


body {
  text-align: center;
  background-color: white;
  background: linear-gradient(#99e6ff,#66ff99);
  background-color: transparent;
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
}

.font-regular {
  font-size: 24px;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.width400 {
  width: 400px;
}

.minWidth400 {

}

.textCenter {
  text-align: center;
}

.pd20 {
  padding: 20px;
}

.letters {
  margin: 5px;
  width: 40px;
  height: 40px;
}

.letterGuessDiv {
  background-color: transparent;
  text-aling: center;
  display: inline;
  width: 50px;
  height: 30px;
  padding: 10px;
  border-bottom: 2px solid black;
  margin: 0px 5px 0px 5px;
}

.selected {
  background-color: green;
  border-bottom: 1px solid black;
}

.wrong-selected {
  background-color: red;
  border-bottom: 1px solid black;
}

.wrongBar {
   display: inline;
   float: left;
   /* width: 14px; */
   /* height: 250px; */
   background-color: black;
   /* margin-left: 24px; */
   z-index: 1;
}

.pokeImg {
  position: absolute;
  display: flex;
  align-items: center;
  width: 300px;
  max-height: 300px;
  /* display: flex; */
  z-index: -1;
  /* margin: 0 auto; */
}

.pokemonBox {
  text-align: center;
  border: 15px solid black;
  /* width: 50%; */
  width: 350px;
  height: 350px;
  max-height: 350px;
  margin: 0 auto;
}

.letterGuessContainer {
  text-align: center;
  height: 100%;
}

.small-font {
  font-size: 15px;
}

.tiny-font {
  font-size: 12px;
}

.custom-select {
  height: 100px;
}

#userName {
  height: 35px;
  /* border-radius: 5px; */
  border: 2px solid black;
  box-shadow: 5px 5px;
}


select {
  width: 150px;
  height: 35px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px;
}
  /* outline-color: blue;
  outline-width: 2px; */

button {
  border-radius: 5px;
  background:transparent;
  box-shadow: 5px 5px;
  border: 2px solid black;
  font-size: 18px;
  /* padding-top: 15px; */
  /* padding-bottom: 15px; */
}

button#playGame {
  padding-top: 10px;
  padding-bottom: 10px;
}

span#guessNum {
 right: 0;
}

button#changeGeneration {

}

button:hover {
  background-color: white;
}

#changeGeneration {
  height: 30px;
}

.alphabetsContainer {
  /* display: flex;
  flex-wrap: wrap; */
  /* width: 100%; */
  width: 100%;
  min-width: 400px;
  margin: 0 auto;
  /* justify-content: center;
  align-items: center; */
}

#livesDiv {

}

select#level {
  padding-left: 10px;
  /* text-align: center; */
}

#siteInfo {
  top: 0;
  height: 100%;
  padding-right: 15px;
  writing-mode: vertical-lr;
  /* text-align: center; */
  left: 0;
  transform: rotate(180deg);
}

#myInfo {
  top: 0;
  height: 100%;
  padding-right: 15px;
  writing-mode: vertical-rl;
  right: 0;

}
